.container {
  background-color: rgb(62, 56, 133);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container main {
  border: 0;
  flex: 1;
}

h3 {
  font-size: 21px;
  color: rgb(255, 62, 51);
}

a {
  color: rgb(77, 159, 255);
}

li,
a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagem-front {
  width: 600px;
  padding: 15px;
}

.techs-aprendidas:hover {
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
  color: rgb(96, 233, 243);
}

.techs-pra-aprender:active {
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
  color: rgb(255, 62, 51);
}

footer {
  padding-left: 85%;
}
